*,
*::before,
*::after {
	box-sizing: border-box !important;
	margin: 0;
	padding: 0;
	user-select: none !important;
}

:host {
	contain: layout !important;
	all: initial !important;

	--font-color: light-dark(black, white);
	--bg-color: light-dark(hsla(0, 0%, 95%, 1), hsla(0, 0%, 5%, 1));
	--svg-fill: light-dark(hsla(0, 0%, 5%, 0.5), hsla(0, 0%, 95%, 0.5));
	--tab-transform-hov: scale(1.5, 1.5) translate(0, -0.5rem);

	backdrop-filter: blur(10px) !important;
	display: flex !important;
	position: fixed !important;
	top: 50% !important;
	left: 50% !important;
	align-items: center !important;
	transform: translate(-50%, -50%) !important;
	z-index: 99999999 !important;
	border-radius: 10px !important;
	backdrop-filter: blur(10px);
	border-top: 2px solid hsla(0, 0%, 50%, 0.5) !important;
	box-shadow: 0px 10px 20px hsla(0, 0%, 0%, 0.3) !important;
	padding: 1rem !important;
	width: fit-content !important;
	max-width: 80vw !important;
	height: fit-content !important;
	font-size: 16px !important;
	color-scheme: light dark;

	.preview-container {
		position: fixed;
		height: 30vh;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		.preview-img {
			width: inherit;
			height: inherit;
			object-fit: contain;
		}
		.error-preview {
			width: fit-content;
			font-size: 0.9rem;
			font-family: system-ui;
			background: hsla(0, 0%, 10%);
			padding: 1rem;
			text-align: center;
			white-space: nowrap;
			border-radius: 0.5rem;
			margin-top: auto;
			color: hsla(0, 0%, 90%);
			display: inline-block;
			transform: translateY(-2rem);
		}
	}

	.tabs-container {
		display: flex;
		align-items: center;
		width: 100%;
		height: fit-content;
		transition: gap 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		background-color: var(--bg-color) !important;
		border-radius: 10px !important;
		padding: 1rem;
		gap: 1rem;

		.tab-container {
			display: flex;
			transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s ease-in-out;
			align-items: center;
			cursor: pointer;

			.favicon-placeholder {
				display: flex;
				justify-content: center;
				align-items: center;
				svg {
					fill: var(--svg-fill);
				}
			}
			.tab-favicon,
			.favicon-placeholder {
				filter: drop-shadow(0px 5px 5px hsla(0, 0%, 0%, 0.3));
				border-radius: 5px;
				width: 30px;
				height: 30px;
			}
		}
	}
}
.no-display {
	display: none !important;
}
.tab-hover {
	padding-bottom: 0.3rem;
	transform: var(--tab-transform-hov);
}
